.cabeçalho{
	display: flex;
	background: rgb(55, 81, 67);
	justify-content: space-between;
	flex-wrap: wrap ;
	align-items: center;
	padding: 20px;

}
.menu{
	display: flex;
}
a{
	text-decoration: none;
	color: white;
}
.menu li{
	margin-left: 50px;
}
body{
	background-color: rgb(215,228,210);
	
}
body,ul,li{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: Helvetica;

}
img{
	height: 100px;
	width: 100px;
}
P{
	color:rgb(255, 255, 255) ;
}
